body {
    width: 100vw;
}

#navbar {
    background-color: #58a28b;
    width: 100vw;
}

#logo {
    width: 300px;
    height: auto;
}

.btn {
    background-color: #58a28b;
    padding: 5px;
    color: white;
}

.btn:hover {
    background-color: white;
    color: #58a28b;
}

#home {
    background-image: url(beach.jpg);
    background-size: cover;
    height: 100vh;
}

#welcome{
    padding-top: 30vh;
    margin: 0 50px;
    color: white;
}

#regfrm {
    background-color: #c2d1cd;
    margin: 25px;
    padding: 25px;
    width: 500px;
    border-radius: 5px;
}
